<div class="crud-container">
  <h2>Gestión de Prioridades</h2>

  <button class="btn btn-primary" (click)="abrirCrear()">Agregar Prioridad</button>

  <app-modal-form
    #modal
    [title]="modalTitulo"
    [hideSave]="modalModo === 'ver'"
    [readonly]="modalModo === 'ver'"
    (onSave)="confirmarAccionModal()"
    (onClose)="cancelarModal()"
  >
    <input [(ngModel)]="prioridadEnModal.nombre" [readonly]="modalModo === 'ver'" placeholder="Descripción" />
  </app-modal-form>

  <hr />

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prioridad of prioridades">
      <td>{{ prioridad.nombre }}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="abrirVer(prioridad)">Ver</button>
        <button class="btn btn-warning btn-sm" (click)="abrirEditar(prioridad)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="eliminarPrioridad(prioridad.idPrioridad)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

</div>

<app-confirm-modal #confirmModal></app-confirm-modal>
<app-alert-modal #alertModal></app-alert-modal>

